{% extends "base.html" %}

{% block title %}
The Wedding Journey/Creations
{% endblock title %}

{% block body %}

<div class="container-fluid" style="background-color: #F7E7CE; min-height: 100vh; padding: 50px 0;">  <!-- Background Added -->
    <div class="container">
        <div class="card shadow-lg p-4" style="background-color: white; border-radius: 10px;">  <!-- White Card for Table -->
            <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Booking ID</th>
                    <th scope="col">First Name </th>
                    <th scope="col">Last Name </th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Email</th>
                    <th scope="col">Date</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Current City</th>
                    <th scope="col">No. of Persons</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                {% for post in query %}
                  <tr>
                    <th scope="row">{{post.bid}}</th>
                    <td>{{post.firstname}}</td>
                    <td>{{post.lastname}}</td>
                    <td>{{post.number}}</td>
                    <td>{{post.Email}}</td>
                    <td>{{post.date}}</td>
                    <td>{{post.pwd}}</td>
                    <td>{{post.city}}</td>
                    <td>{{post.person}}</td>
                    <td><a href="/edit/{{post.bid}}"><button class="btn btn-primary">Edit </button> </a> </td>
                    <td><a href="/delete/{{post.bid}}"><button onclick="return confirm('Are You Sure To Delete Your Data')" class="btn btn-danger">Delete</button> </a> </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>

{% endblock body %}
